.sign-in-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
}

.sign-in-input-container{
    width: 80%;
    height: 50%;
    margin: auto;
}

.login-buttons-container{
    margin: auto;
    margin-bottom: 20px;
    text-align: center;

}

.brand-login-container{
    margin-bottom: 5px;
}
#gridContainer{
    margin-top: 5px;
    justify-content: center;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

/* .forgot-password-button{
margin-left: 0;
} */

.signConatiner1{
    border: 1px solid var(--campfire-gray);
    width: 90%;
    margin: auto;
    height: 550px;
    margin-top: 50px;
}
.signConatiner1 h1{
    font-weight: 100;
    font-family: 'Quicksand';
    font-size: 1.7em;
    margin-top: 20px;

}
.signConatiner2{
    border: 1px solid var(--campfire-gray);
    width: 90%;
    margin: auto;
    height: 60px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.signInput{
    border: 1px solid var(--campfire-gray);
    background-color: azure;
}
.bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.bottom-container p{
    font-family: "Quicksand";
    font-size: 1em;
}