.sign-in-container{
    width:50%;
    height: auto;
    margin: auto;
    text-align: center;
}

.sign-in-input-container{
    width: 80%;
    height:50%;
    margin: auto;
}

.sign-in-field{
    margin-bottom: 5px;
}

/* .forgot-password-button{
margin-left: 0;
} */