
.list-comments-container{
    display: flex;
    overflow: hidden;
}

.comment-commenter-container{
    float:left;
    width: 90%;
}

.commenter-container{
    float:left;
    margin: 0 10px 0 0;
}

.rating-container{
    padding-left: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.load-comments-button{
    text-transform: none;
}

#postTime{
    color: #868686;
    margin-left: 10px ;
}
#rating{
    padding-left: 5px;
}
.fullCard{
    margin: auto;
}
