.rating-container{
    padding-left: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.load-comments-button{
    text-transform: none;
}

#postTime{
    color: var(--campfire-gray);
    margin-left: 10px ;
}
#rating{
    padding-left: 5px;
}
.fullCard{
    margin: auto;
    background-color: var(--campfire-dark-gray);
}
#commentTextField{
    color: var(--campfire-white);
}

.delete-post-container{
    transform: translate(0%, 24%)
}