
.list-comments-container{
    display: flex;
    overflow: hidden;
}

.comment-commenter-container{
    float:left;
width: 90%;
}

.commenter-container{
    float:left;
    margin: 0 10px 0 0;
}

.rating-container{
    padding-left: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.load-comments-button{
    text-transform: none;
}

#postTime{
    color: #868686;
    margin-left: 10px ;
}
#rating{
    padding-left: 5px;
}
.marshmellow{
    font-size: .7em;
    padding: 5px;
    color: red;
    font-weight: bold;
}
.ratingScale{
    border: 1px solid black;
    display: flex;
    height: 30px;
    align-items: center;
}
