.followHeading {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    margin-bottom: 30px;
}

.followHeading p {
    padding: 10px;
}

.followHeading p:first-child {
    text-decoration: underline;
}

.feedDisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .feedListItem{
    margin-bottom:10px;
  }
  
  li{
    list-style-type: none;
  }
  .postcardGlow{
    margin-bottom: 60px;
    animation: animation .6s ease-in-out infinite alternate;
    -moz-animation: animation .6s ease-in-out infinite alternate;
    -webkit-animation: animation .6s ease-in-out infinite alternate;
    -o-animation: animation .6s ease-in-out infinite alternate;
  }
  .load-more-button-container{
    display: flex;
    justify-content: center;
  }
  
  #loadPostsButton{
    margin: auto;
  }
  
  @keyframes animation {
    0% {
      box-shadow: 0 0 5px #fefcc9,
        5px -5px 5px #feec85,
        -10px -10px 10px #ffae34,
        10px -20px 15px #ec760c,
        -10px -30px 20px #cd4606,
        0 -40px 25px #973716,
        5px -45px 20px #451b0e; 
    }
  
    100% {
      box-shadow: 0 0 5px #fefcc9,
        5px -5px 5px #fefcc9,
        -10px -10px 10px #feec85,
        11px -11px 20px #ffae34,
        -11px -27px 15px #ec760c,
        0 -41px 30px #cd4606,
        5px -45px 30px #973716;
      left: 0.5px;
    }
  }
  