.navContainer{
    background-color: white;
    border-top: 1px solid rgb(187, 186, 186);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: auto;
    position: sticky;
    bottom: 0px;
    height: 100px;
}

#addButton{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 70px;
    width: 70px;
    border-radius: 10%;
    font-size: 6em;
}

