.navContainer{
    background-color: var(--campfire-black);
    border-top: 1px solid var(--campfire-dark-gray);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: auto;
    position: sticky;
    bottom: 0px;
    height: 100px;
}

.navContainer img{
    width: 40px;
    height: auto;
}
