.navContainer{
    background-color: rgb(161, 161, 194);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    position: sticky;
    bottom: 0px;
}