.navContainer{
    background-color: var(--campfire-black);
    border-top: 1px solid var(--campfire-dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
    position: sticky;
    bottom: 0px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.navCol1 img{
    height: 100px;
    width: auto;
}
.navCol1{
    width: 40%
}
.navCol2{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.navCol2 img{
    width: 40px;
    height: 40px;
}

.navCol3{
    width: 0%;
}
.navCol3 img{
    width: 0%
}

@media (max-width: 650px){
    .navCol2{
        width: 0%;
    }
    .navCol2 img{
        width: 0px;
        height: 0px;
    }
    .navCol3{
        width: 60%;
        display: flex;
        justify-content: flex-end;

    }
    .navCol3 img{
        width: 40px;
        height: 40px;
        margin-right: 30px;
    }
    .navContainer{
        background-color: var(--campfire-black);
        border-top: 1px solid var(--campfire-dark-gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 650px;
        margin: auto;
        position: sticky;
        bottom: 0px;
        height: 100px;
        padding-left: 20px;
        padding-right: 20px;
        
    }
   
}