.singleGridPhoto {
    height: 225px;
    width: 225px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.bioContainer {
    padding-left: 40px;
    max-width: 45%;
}

.fullName {
    display: flex;
    margin-bottom: 5px;
}

.flame {
    width: 40px;
    height: auto;
    padding-left: 7px;
}

.profileDataContainer {
    display: flex;
    flex-direction: row;
}

.statEntry {
    padding: 20px;
}

.imageGridContainer {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 740px;
    margin: auto;
}

.profileStatsContainer {
    text-align: center;
    align-items: center;
    text-align: center;
}

.roastRatingProfileContainer {
    display: flex;
    justify-content: center;

}

.topProfileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 80px 0px 40px;
}

.roast-rank-container img {
    width: 50px;
    height: auto;
    padding-left: 10px;
}

.followHeading {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    margin-bottom: 30px;
}

.followHeading p {
    padding: 10px;
}

.followHeading p:first-child {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .topProfileContainer {
        margin: 0px 40px 0px 40px;
        justify-content: center;
    }

    .bioContainer {
        min-width: fit-content;
        margin-right: 40px;
        margin-left: 0px;

    }

    .profileInfoContainer {
        font-size: .7em;
    }

    .profileStatsContainer {
        margin: 0px 0px 0px 0px;
    }

    .profileInfoContainer {
        margin: auto;
    }

    .fullCard {
        width: 350px;
    }

    .singleCardMedia {
        width: 350px;
        height: 350px;
    }
}

@media(max-width: 500px) {
    .profileDataContainer {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100px;
        margin: auto;
    }
}

@media (max-width: 740px) {
    .imageGridContainer {
        max-width: 500px;

    }

    @media(max-width: 499px) {
        .imageGridContainer {
            max-width: 220px;
            margin: auto;
        }
    }
}