.list-comments-container{
    display: flex;
    overflow: hidden;
}

.comment-commenter-container{
    float:left;
    width: 650px;
}

.commenter-container{
    float:left;
    margin: 0 10px 0 0;
}
.commentLine{
    display: flex;
    justify-content: space-between;
}

.test{
    max-height: 130px;
    overflow: scroll;
}
