*{
  margin: 0;
  padding: 0;
}
.pageContainer{
  max-width: 800px;
  margin: auto;
  /* background-color: rgb(240, 229, 229); */
}
.profilePic{
  height: 200px;
  width: 200px;
  border-radius: 10%;
}
.profileStatsContainer{
  text-align: center;
  align-items: center;
}
.roastRatingProfileContainer{
  display: flex;
}
.topProfileContainer{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
.profileDataContainer{
  display: flex;
  flex-direction: row;
}
.statEntry{
  padding: 20px;
}
.imageGridContainer{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.singleGridPhoto{
  height: 200px;
  width: 200px;
  padding: 10px;
  /* border-radius: 10%; */
}
.bioContainer{
  padding-left: 40px;
}
.singleGridPhotoContainter{
  height: 200px;
  width: 200px;
  padding: 10px;
  overflow: hidden;
  background-size : 'contain',
}
.test{
  height: 100%;
  width: 100%;
  object-fit: fill;
}