*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--campfire-white);
}
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:-2;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:-1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}
.pageContainer{
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
}

.profileStatsContainer{
  text-align: center;
  align-items: center;
  text-align: center;
}
.roastRatingProfileContainer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}
.roastRatingProfileContainer span{
  color: gold;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 10px;;
}
.topProfileContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 80px 0px 40px;
}

.profileDataContainer{
  display: flex;
  flex-direction: row;
}
.statEntry{
  padding: 20px;
}
.imageGridContainer{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 740px;
  margin: auto;
}

.singleGridPhoto{
  height: 225px;
  width: 225px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.bioContainer{
  padding-left: 40px;
  max-width: 45%;
}
.fullName{
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;;
}
.flame{
  width: 17px;
  height: auto;
  padding-left: 7px;
}
.searchHeading{
  display: flex;
  top: 0px;
  background-color: var(--campfire-dark-gray);
  color: var(--campfire-white);
  height: 100px;
  align-items: center;
}
.searchIcon{
  height: 40px;
  width: auto;
  padding-right: 10px;
}
.sarchBar{
  height: 40px;
  width: 600px;
  border: 3px solid black;
}
.searchPhotosGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.searchImage{
  height: 195px;
  width: 195px;
}
@media (max-width: 700px){
  .searchBar{
    width: min-content;
  }
  .searchHeading{
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 740px){
  .imageGridContainer{
    max-width: 500px;
  
  }
}
@media(max-width: 810px){
  .searchPhotosGrid{
    max-width: 630px;
    margin:auto;
  }
}
@media(max-width: 615px){
  .searchPhotosGrid{
    max-width: 410px;
    margin:auto;
  }
}
@media(max-width: 499px){
  .imageGridContainer{
    max-width: 220px;
    margin: auto;
  }
}
@media(max-width: 418px){
  .searchPhotosGrid{
    max-width: 220px;
    margin: auto;
  }
}
@media (max-width: 600px){
  .topProfileContainer{
    margin: 0px 40px 0px 40px;
    justify-content: center;
  }
  .bioContainer{
    min-width: fit-content;
    margin-right: 40px;
    margin-left: 0px;
    
  }
  .profileInfoContainer{
    font-size: .7em;
  }
  .profileStatsContainer{
    margin: 0px 0px 0px 0px;
  }
  .profileInfoContainer{
    margin: auto;
  }
  .fullCard{
    width: 350px;
  }
  .singleCardMedia{
    width:350px;
    height: 350px;
  }
}

@media(max-width: 376px){
  .fullCard{
    width: 300px;
  }
  .singleCardMedia{
    width:300px;
    height: 300px;
  }
}

@media(max-width: 500px){
  .profileDataContainer{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100px;
    margin: auto;
  }
}
.story{
  text-align: center;
  margin: 15px;
}
.storiesContainer{
  display: flex;
  justify-content: left;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow-x: scroll;
  overflow-y: hidden;
 
}
::-webkit-scrollbar {
  height: 10px;                
  border: 1px solid var(--campfire-gray);
  background-color: var(--campfire-black);
  scrollbar-x-position: top;
}
::-webkit-scrollbar-thumb:horizontal{
  background: var(--campfire-gray);
  border-radius: 10px;
}
.feedDisplay{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feedListItem{
  margin-bottom:10px;
}
.followHeading{
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  margin-bottom: 30px;
}
.followHeading p{
  padding: 10px;
}
.followHeading p:first-child{
  text-decoration: underline;
}
.signInPage{
  display: flex;
  align-content: center;
  min-height: 80vh;
  margin-bottom: 20vh;
}
li{
  list-style-type: none;
}
.postcardGlow{
  /* box-shadow: var(--box-shadow); */
  margin-bottom: 40px;
}