*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.pageContainer{
  max-width: 800px;
  margin: auto;
  /* background-color: rgb(240, 229, 229); */
}
.profilePic{
  height: 200px;
  width: 200px;
  border-radius: 10%;
  margin: 15px 0 15px 0;
}
.profileStatsContainer{
  text-align: center;
  align-items: center;
  text-align: center;
}
.roastRatingProfileContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
}
.roastRatingProfileContainer span{
  color: gold;
  font-size: 1.5em;
}
.topProfileContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
.profileDataContainer{
  display: flex;
  flex-direction: row;
}
.statEntry{
  padding: 20px;
}
.imageGridContainer{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.singleGridPhoto{
  height: 220px;
  width: 220px;
  margin: 15px;
}
.bioContainer{
  padding-left: 40px;
}
.fullName{
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;;
}
.flame{
  width: 17px;
  height: auto;
  padding-left: 7px;
}
