*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.pageContainer{
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
}

.profileStatsContainer{
  text-align: center;
  align-items: center;
  text-align: center;
}
.roastRatingProfileContainer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}
.roastRatingProfileContainer span{
  color: gold;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 10px;;
}
.topProfileContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 80px 0px 40px;
}
.profileDataContainer{
  display: flex;
  flex-direction: row;
}
.statEntry{
  padding: 20px;
}
.imageGridContainer{
  display: flex;
  flex-direction: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.profileImageButton{
  margin: auto;
}
.singleGridPhoto{
  height: 225px;
  width: 225px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.bioContainer{
  padding-left: 40px;
  max-width: 45%;
}
.fullName{
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;;
}
.flame{
  width: 17px;
  height: auto;
  padding-left: 7px;
}
.searchHeading{
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  background-color: white;
  height: 100px;
  align-items: center;
}
.searchIcon{
  height: 40px;
  width: auto;
}
.sarchBar{
  height: 40px;
  width: 600px;
  border: 3px solid black;
}
.searchPhotosGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.searchImage{
  height: 195px;
  width: 195px;
}
.story{
  text-align: center;
}

.storiesContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}
.feedDisplay{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feedListItem{
  margin-bottom:10px;
}
.followHeading{
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  margin-bottom: 30px;
}
.followHeading p{
  padding: 10px;
}
.followHeading p:first-child{
  text-decoration: underline;
}
.signInPage{
  display: flex;
  align-content: center;
  min-height: 80vh;
  margin-bottom: 20vh;
}
li{
  list-style-type: none;
}
