* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--campfire-white);
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: rgb(0, 0, 0) url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -2;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.pageContainer {
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
<<<<<<< HEAD
}
.roast-rank-container img{
  width: 50px;
  height: auto;
  padding-left: 10px;
}
.css-6hp17o-MuiList-root-MuiMenu-list{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.profileStatsContainer{
  text-align: center;
  align-items: center;
  text-align: center;
}
.roastRatingProfileContainer{
  display: flex;
  justify-content: center;
  
}
.topProfileContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 80px 0px 40px;
}

.profileDataContainer{
  display: flex;
  flex-direction: row;
}
.statEntry{
  padding: 20px;
}
.imageGridContainer{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 740px;
  margin: auto;
}

.singleGridPhoto{
  height: 225px;
  width: 225px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.bioContainer{
  padding-left: 40px;
  max-width: 45%;
}
.fullName{
  display: flex;
  margin-bottom: 5px;
}
.flame{
  width: 40px;
  height: auto;
  padding-left: 7px;
}
.searchHeading{
  display: flex;
  top: 0px;
  background-color: var(--campfire-black);
  color: var(--campfire-white);
  height: 100px;
  align-items: center;
}
.searchIcon{
  height: 40px;
  width: auto;
  padding-right: 10px;
}
.sarchBar{
  height: 40px;
  width: 600px;
  border: 3px solid black;
}
.searchPhotosGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.searchImage{
  height: 195px;
  width: 195px;
}
@media (max-width: 700px){
  .searchBar{
    width: min-content;
  }
  .searchHeading{
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 740px){
  .imageGridContainer{
    max-width: 500px;
  
  }
}
@media(max-width: 810px){
  .searchPhotosGrid{
    max-width: 630px;
    margin:auto;
  }
}
@media(max-width: 615px){
  .searchPhotosGrid{
    max-width: 410px;
    margin:auto;
  }
}
@media(max-width: 499px){
  .imageGridContainer{
    max-width: 220px;
    margin: auto;
  }
}
@media(max-width: 418px){
  .searchPhotosGrid{
    max-width: 220px;
    margin: auto;
  }
}
@media (max-width: 600px){
  .topProfileContainer{
    margin: 0px 40px 0px 40px;
    justify-content: center;
  }
  .bioContainer{
    min-width: fit-content;
    margin-right: 40px;
    margin-left: 0px;
    
  }
  .profileInfoContainer{
    font-size: .7em;
  }
  .profileStatsContainer{
    margin: 0px 0px 0px 0px;
  }
  .profileInfoContainer{
    margin: auto;
  }
  .fullCard{
    width: 350px;
  }
  .singleCardMedia{
    width:350px;
    height: 350px;
  }
}

@media(max-width: 376px){
  .fullCard{
    width: 300px;
  }
  .singleCardMedia{
    width:300px;
    height: 300px;
  }
}

@media(max-width: 500px){
  .profileDataContainer{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100px;
    margin: auto;
  }

}
.story{
  text-align: center;
  margin: 15px;
}
.storiesContainer{
  display: flex;
  justify-content: left;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 24px;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 700px;
  position: relative;
 
}
.stories{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stories-nav{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  max-width: 800px;
}
.scoll-pane {
  width: 100%;
  height: auto;
  overflow: auto;
  outline: none;
  overflow-y: hidden;
  padding-bottom: 15px;
  -ms-overflow-style: scroll; 
  scrollbar-width: none;  
}

::-webkit-scrollbar {
  display: none;
  /* height: 10px;                
  border: 1px solid var(--campfire-gray);
  background-color: var(--campfire-black); */
}
::-webkit-scrollbar-thumb:horizontal{
  background: var(--campfire-gray);
  border-radius: 10px;
}
.feedDisplay{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feedListItem{
  margin-bottom:10px;
}
.followHeading{
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  margin-bottom: 30px;
}
.followHeading p{
  padding: 10px;
}
.followHeading p:first-child{
  text-decoration: underline;
}
.signInPage{
  background-color: var(--campfire-black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoCol img{
  width: 75%;
  margin-top: 100px;
}
/* .col{
  width: 50%;
} */
.signInContainer{
  display: flex;
  align-content: center;
  height: 750px;
  max-width: 972px;
}
li{
  list-style-type: none;
}
.postcardGlow{
  margin-bottom: 60px;
  animation: animation .6s ease-in-out infinite alternate;
  -moz-animation: animation .6s ease-in-out infinite alternate;
  -webkit-animation: animation .6s ease-in-out infinite alternate;
  -o-animation: animation .6s ease-in-out infinite alternate;
  
  /* box-shadow: 0 0 50px rgba(255, 217, 0, 0.795),            
            -10px 0 80px rgba(255, 166, 0, 0.726),        
            10px 0 80px rgba(255, 68, 0, 0.801);         
            10px 0 80px rgba(255, 68, 0, 0.801);          */
  /* box-shadow: var(--box-shadow); */

}
.col1{
  background-image: url('./assets/campfireBackground.jpg');
  background-size: cover;
  text-align: center;
  background-position: center center;
  width: 50%;
}
.col2{
  width: 50%;
}

.load-more-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 650px){
  .col1{
      width: 0%;
  }
  .col2{
      width: 100%;
  }

}

.searchBar{
  width: 300px;
  height: 60px;
  border: 1px solid red;
  background-color: aquamarine;
}
.rating-image{
  width:20px;
  height: auto;
}


@keyframes animation {
  0% {
    box-shadow: 0 0 5px #fefcc9,
      5px -5px 5px #feec85,
      -10px -10px 10px #ffae34,
      10px -20px 15px #ec760c,
      -10px -30px 20px #cd4606,
      0 -40px 25px #973716,
      5px -45px 20px #451b0e; 
  }

  100% {
    box-shadow: 0 0 5px #fefcc9,
      5px -5px 5px #fefcc9,
      -10px -10px 10px #feec85,
      11px -11px 20px #ffae34,
      -11px -27px 15px #ec760c,
      0 -41px 30px #cd4606,
      5px -45px 30px #973716;
    left: 0.5px;
  }
}




=======
}
>>>>>>> UX-fixes
