*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.pageContainer{
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
}

.profileStatsContainer{
  text-align: center;
  align-items: center;
  text-align: center;
}
.roastRatingProfileContainer{
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}
.roastRatingProfileContainer span{
  color: gold;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 10px;;
}
.topProfileContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 80px 0px 40px;
}
@media (max-width: 600px){
  .topProfileContainer{
    margin: 0px 40px 0px 40px;
    justify-content: center;
  }
  .bioContainer{
    min-width: fit-content;
    margin-right: 40px;
    margin-left: 0px;
    
  }
  .profileInfoContainer{
    font-size: .7em;
  }
  .profileStatsContainer{
    margin: 0px 0px 0px 0px;
  }
  .profileInfoContainer{
    margin: auto;
  }
  .fullCard{
    width: 350px;
  }
  .singleCardMedia{
    width:350px;
    height: 350px;
  }
}

@media(max-width: 500px){
  .profileDataContainer{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100px;
    margin: auto;
  }
  
}

.profileDataContainer{
  display: flex;
  flex-direction: row;
}
.statEntry{
  padding: 20px;
}
.imageGridContainer{
  display: flex;
  flex-direction: space-around;
  flex-wrap: wrap;
  margin: auto;
  max-width: 750px;
}
@media (max-width: 740px){
  .imageGridContainer{
    max-width: 500px;
  }
}
.profileImageButton{
  margin: auto;
}
.singleGridPhoto{
  height: 225px;
  width: 225px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.bioContainer{
  padding-left: 40px;
  max-width: 45%;
}
.fullName{
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;;
}
.flame{
  width: 17px;
  height: auto;
  padding-left: 7px;
}
.searchHeading{
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  background-color: white;
  height: 100px;
  align-items: center;
}
.searchIcon{
  height: 40px;
  width: auto;
}
.sarchBar{
  height: 40px;
  width: 600px;
  border: 3px solid black;
}
@media (max-width: 700px){
  .searchBar{
    width: min-content;
  }
  .searchHeading{
    margin-left: 10px;
    margin-right: 10px;
  }
  .searchIcon{
    margin-right: 10px;
  }
}
.searchPhotosGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}
.searchImage{
  height: 195px;
  width: 195px;
}
.story{
  text-align: center;
}
.storiesContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}
.feedDisplay{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feedListItem{
  margin-bottom:10px;
}
.followHeading{
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  margin-bottom: 30px;
}
.followHeading p{
  padding: 10px;
}
.followHeading p:first-child{
  text-decoration: underline;
}
.signInPage{
  display: flex;
  align-content: center;
  min-height: 80vh;
  margin-bottom: 20vh;
}
li{
  list-style-type: none;
}
