*{
  margin: 0;
  padding: 0;
}
.pageContainer{
  max-width: 800px;
  height: 100vh;
  margin: auto;
  background-color: rgb(240, 229, 229);
}
.profilePic{
  height: 200px;
  width: 200px;
  border-radius: 10%;
}
.profileStatsContainer{
  text-align: center;
  align-items: center;
}
.roastRatingProfileContainer{
  display: flex;
}
.topProfileContainer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.profileDataContainer{
  display: flex;
  flex-direction: row;
}
.statEntry{
  padding: 20px;
}