:root{
    --campfire-gray: #707070;
    --campfire-dark-gray: #28292b;
    --campfire-black: #201f21;
    --campfire-white: #dedede;
    --campfire-orange: #d1663e;
    --box-shadow: 0 0 200px 1px rgba(253, 120, 11, 0.863);
  }