:root{
    --campfire-gray: #707070;
    --campfire-dark-gray: #28292b;
    --campfire-black: #201f21;
    --campfire-white: #dedede;
    --campfire-orange: #d1663e;
    --box-shadow: 0 4px 6px 4px rgba(248, 105, 9, 0.2);
  }